<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Navigate URL">
    <classes>
      <class name="loginPage.NavigateURL"/>
    </classes>
  </test>
  <test name="Validate Title">
    <classes>
      <class name="loginPage.ValidateTitle"/>
    </classes>
  </test>
</suite>